/* Default styles */
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #3f83a8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  box-shadow: 0 4px 8px 0 black;
}

.navbar h1 {
  margin: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.list li,
a {
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-right: 20px;
}

.icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icons li {
  display: inline-block;
  margin-left: 10px;
}

.icons li:first-child {
  margin-left: 0;
}

.icons li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

span {
  border: 5px solid black;
  color: #54A83F;
  border-radius: 10px;
  border-right: none;
}

.products {
  color: white;
}

.product-header {
  position: relative;
  margin: 10%;
  margin-left: 20%;
}

.product-image {
  position: absolute;
  right: 20%;
  top: 10%;
}

.p-image {
  width: 100%;
  max-width: 1363px
}

.buttons {
  margin: 10%;
  margin-left: 20%;
}

.products-button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #FC5CC6;
  color: white;
  margin-right: 20px;
}

.learnMore-button {
  padding: 10px;
  border: 1px solid #FC5CC6;
  border-radius: 10px;
  color: white;
  background-color: #54A83F;
}

